= t(:lorem)
%hr
%h3 Best places:
= link_to 'Venues', root_path(venues: true)
= link_to 'Events', root_path(events: true)

%h3 Best venues

- @venues.each do |venue|
  %h5= venue.title
  = image_tag venue.entry_photos.first.photo.url(:thumb) unless venue.entry_photos.blank?
  
%h3 Best events

- @events.each do |event|
  %h5= event.title
  = image_tag event.entry_photos.first.photo.url(:thumb) unless event.entry_photos.blank?
