%p#notice= notice

%p
  %b User:
  = @event.user_id
%p
  %b Start at:
  = @event.start_at
%p
  %b Hours:
  = @event.hours
%p
  %b Venue:
  = @event.venue_id
%p
  %b Title:
  = @event.title
%p
  %b Description:
  = @event.description

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
