= form_for @venue do |f|
  - if @venue.errors.any?
    #error_explanation
      %h2= "#{pluralize(@venue.errors.count, "error")} prohibited this venue from being saved:"
      %ul
        - @venue.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :price
    = f.text_field :price
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :capasity
    = f.number_field :capasity
  .field
    = f.label :time_from
    = f.text_field :time_from
  .field
    = f.label :time_to
    = f.text_field :time_to
  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :equipment
    = f.text_field :equipment
  .actions
    = f.submit 'Save'
