= simple_form_for @venue do |f|
  .field
    = f.input :title
  .field

    = f.input :description, as: :text
  .field

    = f.select :capasity, (10..100).step(10).map {|n| ["before #{n} man", n]}
  .field

    = f.input :price
  .field

    = f.input :working_time
  .field

    = f.input :address
  .field

    = f.input :metro
  .field
    = f.association  :event_types, as: :check_boxes
  .actions
    = f.submit 'Save'
= render 'event_types/form'
