%h1 Listing venues

%table
  %tr
    %th Title
    %th Description
    %th Capasity
    %th Price
    %th Working time
    %th Address
    %th Metro
    %th User
    %th
    %th
    %th

  - @venues.each do |venue|
    %tr
      %td= venue.title
      %td= venue.description
      %td= venue.capasity
      %td= venue.price
      %td= venue.working_time
      %td= venue.address
      %td= venue.metro
      %td= venue.user_id
      %td= link_to 'Show', venue
      %td= link_to 'Edit', edit_venue_path(venue)
      %td= link_to 'Destroy', venue, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Venue', new_venue_path
